
/*border around body 20px
color #bdc3c7 (color picker)
date #3498db all caps and letter spacing
h2 #2c3e50
blockquote left boeder turned on
hr element - horizontal line
font: source sans pro - google fonts*/

body {
	border: solid 20px #bdc3c7;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1;
	margin-left: 20%;
	margin-right: 20%;
	padding-left: 14px;
	padding-right: 14px;
}

h2 {
	color: #2c3e50;
}

p {
	font-weight: 600;
}

.date {
	text-transform: uppercase;
	color: #3498db;
	letter-spacing: 3px;
	font-weight: 400;
}

.first-p {
	border-left: solid 3px #bdc3c7;
	padding-left: 5px;
}

hr {
	border-width: 1px;
	border-color: #f1f1f1;
}